body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(255, 20%, 95%);
  background-image: url("../assets/dotgrid.jpg");
  backdrop-filter: blur(8px);
}

h1 {
  color: #0a0a0a;
}

button {
  background-color: transparent;
}

nav {
  width: 60%;
  margin: auto;
  padding: 80px 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #0a0a0a;
  text-decoration: none;
  font-size: 1em;
  padding: 30px 60px;
  border: 1px solid transparent;
  border-radius: 100px;
  transition: background-color 0.3s, border-color 0.3s;
}

nav ul li a:hover {
  border-color: #0a0a0a;
}

nav ul li a.active {
  border-color: #0a0a0a;
  background-color: #0a0a0a;
  color: hsl(255, 20%, 95%);
}

section {
  display: none;
  width: 30%;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.active {
  display: block;
  opacity: 1;
}

#link-indicator {
  position: absolute;
  bottom: -40px;
  left: -20px;
  font-size: 150px;
  letter-spacing: 20px;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #0a0a0a;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#link-indicator.fade-in {
  opacity: 1;
}

#home {
  cursor: pointer;
  align-self: center;
  font-size: 28px;
  font-weight: 600;
  border: none;
  margin: -2px 30px 0px 0px;
}
