@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&family=Spline+Sans:wght@300..700&display=swap");

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  font-family: "Spline Sans", sans-serif;
  font-optical-sizing: auto;
  background-color: hsl(255, 20%, 95%);
  background-image: url("../assets/dotgrid.jpg");
  backdrop-filter: blur(10px);
}

button {
  font-family: "Spline Sans", sans-serif;
}

h1 {
  color: #0a0a0a;
}

h3 {
  font-weight: normal;
  line-height: 30px;
}

nav {
  width: auto;
  margin: auto;
  padding-top: 130px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav ul li a {
  color: #0a0a0a;
  text-decoration: none;
  font-size: 1em;
  padding: 30px 60px;
  border: 1px solid transparent;
  border-radius: 100px;
  transition: background-color 0.3s, border-color 0.3s;
}

nav ul li a:hover {
  border-color: #0a0a0a;
}

nav ul li a.active {
  border-color: #0a0a0a;
  background-color: #0a0a0a;
  color: hsl(255, 20%, 95%);
}

section {
  display: none;
  width: 50vw;
  min-width: 450px;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.active {
  display: block;
  opacity: 1;
}

#link-indicator {
  font-family: "Spline Sans Mono", monospace;
  position: absolute;
  bottom: -40px;
  right: -24px;
  font-size: 150px;
  letter-spacing: 6px;
  color: #0a0a0a;
  text-transform: uppercase;
  /* -webkit-text-stroke: 1px #0a0a0a; */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#link-indicator.fade-in {
  opacity: 1;
}

#home {
  position: fixed;
  top: 40px;
  left: 40px;
  letter-spacing: -2px;
  background-color: transparent;
  cursor: pointer;
  font-size: 28px;
  font-weight: 600;
  border: none;
  margin: -2px 30px 0px 0px;
}

#fox {
  position: fixed;
  left: 20px;
  bottom: -20px;
  height: 120px;
}
