@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&family=Spline+Sans:wght@300..700&display=swap");

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  font-family: "Spline Sans", sans-serif;
  font-optical-sizing: auto;
  color: #0a0a0a;
  background-color: hsl(255, 20%, 95%);
  /* background-image: url("../assets/dotgrid.jpg"); */
  backdrop-filter: blur(10px);
}

button {
  font-family: "Spline Sans", sans-serif;
}

h3 {
  font-weight: normal;
  line-height: 30px;
  margin: 5px;
}

nav {
  width: auto;
  margin: auto;
  padding-top: 100px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav ul li a {
  color: #0a0a0a;
  text-decoration: none;
  font-size: 1em;
  padding: 20px 40px;
  border: 1px solid transparent;
  border-radius: 100px;
  transition: background-color 0.3s, border-color 0.3s;
}

nav ul li a:hover {
  border-color: #0a0a0a;
}

nav ul li a.active {
  border-color: #0a0a0a;
  background-color: #0a0a0a;
  color: hsl(255, 20%, 95%);
}

section {
  display: none;
  width: 45vw;
  min-width: 450px;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.active {
  opacity: 1;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(255, 20%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Spline Sans", sans-serif;
  font-size: 2rem;
  z-index: 9999;
}

#loading-screen.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
}

#link-indicator {
  font-family: "Spline Sans Mono", monospace;
  position: absolute;
  bottom: -28px;
  right: -18px;
  font-size: 120px;
  font-weight: 100;
  letter-spacing: 6px;
  color: #0a0a0a;
  /* color: transparent; */
  text-transform: uppercase;
  /* -webkit-text-stroke: 1px #0a0a0a; */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#link-indicator.fade-in {
  opacity: 1;
}

#home {
  position: fixed;
  top: 30px;
  left: 40px;
  letter-spacing: -1px;
  background-color: transparent;
  cursor: pointer;
  font-size: 28px;
  font-weight: 500;
  border: none;
  margin: -2px 30px 0px 0px;
  transition: transform 0.05s ease-in-out;
}

#home:hover {
  transform: scale(1.02);
}

#fox {
  position: fixed;
  left: 20px;
  bottom: -20px;
  height: 120px;
}

.bio-section {
  display: block;
  gap: 10px;
  margin: 30px 0px;
}

.cv-button {
  display: inline-block;
  margin-top: 30px;
  padding: 20px 40px;
  font-size: 1em;
  color: hsl(255, 20%, 95%);
  background-color: #0a0a0a;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.cv-button:hover {
  background-color: #333;
}

.contact-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}

.contact-button {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px 40px;
  font-size: 1em;
  color: #0a0a0a;
  background-color: hsl(255, 20%, 95%);
  text-decoration: none;
  border-radius: 50px;
  border: solid 1px #0a0a0a;
  transition: transform 0.2s ease;
}

.contact-button img {
  height: 30px;
}

.contact-button:hover {
  transform: scale(1.02);
}
